<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"   href="css/style2.css">
    <link rel="stylesheet" type="text/css" href="vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" type="text/css" href="vendors/nice-select/nice-select.css">
    <link rel="stylesheet" type="text/css" href="vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" type="text/css"  href="vendors/owl-carousel/owl.carousel.min.css">

    <link href="https://fonts.google.com/share?selection.family=Poppins:500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.google.com/share?selection.family=Poppins:500&display=swap" rel="stylesheet">
    <title>Cybersport</title>

<body>
<!--Nav-bar-->
<header class="header_area">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container">
                <a class="navbar-brand logo_h" href="index"><img src="media/logo.svg" width="100" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav ml-auto mr-auto">
                        <li class="nav-item active"><a class="nav-link" href="index">Home</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Tournament</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="sport">Sport</a></li>
                                <li class="nav-item"><a class="nav-link" href="cyber">CyberSport</a></li>
                            </ul>
                        </li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">About Us</a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="blog">Nurdaulet</a></li>
                                <li class="nav-item"><a class="nav-link" href="single-blog">Azhar</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" >Contact</a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="registration" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                               aria-expanded="false">Login</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </div>
</header>
<div class="container" id="cards">
    <div class="row">

        <div class="col-md-3 col-sm-6 col-xs-12 con-card text-center ">
            <img  src="media/cybersport/csgo.jpg" alt="csgo">
            <div class="con-data text-left">
                <h6><a href="csgo">CS:GO</a></h6>
                <p>Date: 28.04.22</p>
                <p>Organizer: Azhar Turashbayeva</p>
            </div>
        </div>
        <div id="map"> </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<script>
    function initMap(){
        var  pos= { lat:51.09112508957857 , lng:71.41845264312275};
        var opt= {
            center:{ lat:51.09112508957857 , lng:71.41845264312275},
            zoom: 16
        }
        var myMap = new google.maps.Map(document.getElementById("map"), opt);
        var marker = new google.maps.Marker({
            position: pos,
            map: myMap,
            title: "there will be a cs:go tournament"
        })
    }
    function scrollWin() {
        window.scrollBy(0, 1810);
    }


</script>


</body>
</body>